* {
    margin:0px;
    padding:0px;
}
div#wrapper{
    padding:10px;
    margin: auto;
    width: 1500px;
    background-color: whitesmoke;
    align-content: center;
    height:auto;
}

body {
    font-family:'Arial', 'sans serif';
}
nav a{
    padding-left: 20px;
    text-decoration: none;
    color:#FFFFFF;
}
nav {
    margin: 0px;
    background-color: cadetblue;
    color: #FFFFFF;
    text-align: left;
    padding: 10px 0 10px 0;
    font-size: 19px;


}

section {
    width:100px;
    height:100px;
}
nav  li{

    display:inline-block;
    padding-right: 50px;
    margin-left:20px;
}

nav  li {
    text-decoration: none;
    color: #FFFFFF;
}
h2.handbal {
    width:45%;
    float:left;
    padding:50px 0 20px 60px;
}
h2.uitslagen {
    width:45%;
    float:right;
    padding:50px 0 20px 0px;
}
th {
    width:300px;
    text-align: left;
    background-color:orange;
}
article {
    display:inline-block;
    width:33%;
    line-height:1.8;
    padding-left:20px;
    vertical-align:top;
    width:20%;
}
div.picture {
    width: 45%;
    float:left;
    padding: 50px 0 50px 30px;
}
div.png {
    float:right;
    padding-right: 150px;
}
div.uitslagen {
    width:45%;
    float:right;
    padding: 50px 0 50px 30px;
}
div.artikels {
    clear:both;
    padding: 0 0 50px 0;
}
div.footer {
    clear:both;
    margin: auto;
    color: white;
    height:160px;
    text-decoration: none;
    background-color: darkgray;
    padding: 30px;
    padding-top: 15px;
}
h5 {
    padding-bottom: 5px;
}
div.footer a {

    text-decoration: none;
    color:white;
}
div.footer li {
    padding:0 0 5px 15px;

}
ul {
    list-style-type: none;
}